

.tasksCreated {
  color: var(--blue, #4EA8DE);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  display: flex;
  position: absolute;
  top: 19rem;
  left: calc(50% - 46.5rem/2);
}

.tasksDone {
  color: var(--purple, #8284FA);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.5rem;
  display: flex;
  position: absolute;
  top: 19rem;
  left: calc(50% - -32rem/2);
}