.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  padding: 5rem 3rem;
  margin-top: 0%;
}

.header img {
  width: 7.8rem;
  height: 3rem;
  
}

/* Exemplo de como o rem é ultilizado -->32 pixeels = 16x2 */