.p {
  color: var(--blue, #4EA8DE);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  border: none;
  top: 13.5rem;
  right: 26.5rem;
  font-weight: 700;
}